<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <p>JUAN MARAVILLOSO</p>
    <nav>
        <button>SOBRE MI</button>
        <button>HABILIDADES</button>
        <button>CONTÁCTAME</button>
    </nav>
</header>
<section class="contact">
    <p>¡HOLA!</p>
    <h1>SOY JUAN, DESARROLLADOR WEB</h1>
    <button type="submit">¿HABLAMOS?</button>
</section>
<section class="about">
    <h2>SOBRE MI</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FPUu4AEW1GI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section class="hability">
    <h2>HABILIDADES</h2>
    <div>
    <div>
        <h3>FRONT-END DEVELOPER</h3>
       <h4>LENGUAJES</h4>
        <p>HTML, CSS, JavaScript</p>
        <h4>DEV TOOLS</h4>
        <ul>
            <li>Atom</li>
            <li>Boostrap</li>
            <li>Github</li>
            <li>Gitlab</li>
            <li>Terminal</li>
        </ul>
    </div>
    <div>
        <h3>BACK-END DEVELOPER</h3>
        <h4>LENGUAJES</h4>
        <p>Java, Node.js, Python, PHP</p>
        <h4>DEV TOOLS</h4>
        <ul>
            <li>Angular</li>
            <li>Github</li>
            <li>Docker</li>
            <li>XAMPP</li>
        </ul>
    </div>
    </div>
</section>
<footer>
    <p>2019 JUAN MARAVILLOSO</p>
</footer>
</body>
</html>